In [43]:
import pandas as pd
from datetime import datetime
import numpy as np
import csv

In [44]:
pth = "..//linear_forward_mc.csv"
raw = pd.read_csv(pth)
cols_list = raw.columns
inx = [i for i,x in enumerate(cols_list) if x=="Capture Start Time"] # => [1, 3]
st_time = cols_list[inx[0]+1]

In [45]:
mr_inx = pd.read_csv(pth, skiprows=3)
markers_raw = mr_inx.columns
marker_offset = 2 #for ignoring time and frame cols
markers_raw = markers_raw[marker_offset:]
col_names = []
for i in range(0, len(markers_raw), 3):
    col_names.append(markers_raw[i].split(":")[1])

In [46]:
df_headers = ["frame", "seconds"]
for i in col_names:
    df_headers.append(i+"_x")
    df_headers.append(i+"_y")
    df_headers.append(i+"_z")

In [47]:
df_headers

['frame',
 'seconds',
 'center_x',
 'center_y',
 'center_z',
 'org_x',
 'org_y',
 'org_z',
 'xdir_x',
 'xdir_y',
 'xdir_z',
 'zdir_x',
 'zdir_y',
 'zdir_z']

In [48]:
mo_data = pd.read_csv(pth, skiprows=6)
# mo_data = mo_data.rename(mo_data.columns, df_headers)
mo_data.columns = df_headers
mo_data

,frame,seconds,center_x,center_y,center_z,org_x,org_y,org_z,xdir_x,xdir_y,xdir_z,zdir_x,zdir_y,zdir_z
0,0,0.00,0.045857,0.068821,-0.081540,0.003887,0.069184,-0.146124,0.083270,0.066830,-0.146643,0.005686,0.069255,-0.018596
1,1,0.01,0.045868,0.068813,-0.081547,0.003862,0.069154,-0.146151,0.083285,0.066831,-0.146648,0.005683,0.069261,-0.018592
2,2,0.02,0.045856,0.068817,-0.081544,0.003880,0.069194,-0.146121,0.083275,0.066833,-0.146650,0.005672,0.069261,-0.018588
3,3,0.03,0.045849,0.068824,-0.081547,0.003879,0.069186,-0.146123,0.083275,0.066815,-0.146652,0.005674,0.069258,-0.018586
4,4,0.04,0.045851,0.068822,-0.081540,0.003875,0.069197,-0.146128,0.083278,0.066837,-0.146640,0.005688,0.069259,-0.018586
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2570,2570,25.70,0.054029,0.068274,0.209136,0.009873,0.068308,0.145931,0.089050,0.066059,0.143031,0.016038,0.068579,0.273257
2571,2571,25.71,0.054021,0.068267,0.209126,0.009868,0.068302,0.145933,0.089045,0.066047,0.143030,0.016037,0.068582,0.273258
2572,2572,25.72,0.054045,0.068269,0.209130,0.009867,0.068299,0.145933,0.089044,0.066053,0.143029,0.016028,0.068604,0.273261
2573,2573,25.73,0.054040,0.068284,0.209123,0.009869,0.068299,0.145941,0.089042,0.066056,0.143031,0.016038,0.068585,0.273253
2574,2574,25.74,0.054028,0.068278,0.209126,0.009868,0.068299,0.145942,0.089048,0.066050,0.143033,0.016018,0.068599,0.273267